<%= provide :title, 'HOME' %>
<!-- BANNER -->
<%= render 'layouts/banner_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'layouts/featured_collection' %>
    <%= render 'layouts/featured_products' %>
    <%= render 'layouts/latest_articles' %>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'layouts/light_section' %>
